<nav class="navbar">
    <div class="navbar-content">
        <a href="/" class="logo">
            <i class="fas fa-users"></i>
            MAKERS HUB
        </a>
        
        <div class="nav-links">
            <% if (!loggedIn) { %>
                <a href="/users/login">Log In</a>
                <a href="/users/signup">Sign Up</a>
            <% } else { %>
                <a href="/jobs">Jobs</a>
                <a href="/workshops">Workshops</a>
                <a href="/volunteering">Volunteering</a>
                <a href="/profile">Profile</a>
            <% } %>
        </div>

        <button class="mobile-menu-button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>

<script src="/js/navbar.js" defer></script>
